.featureSection{
    width: 100%;
}
.listOfProducts{
    display: flex;
    gap: 20px;
    position: relative;
}
.actions{
    position: absolute;
    display: flex;
    gap: 10px;
    right: 0;
    bottom: -20px;
    gap: 10px;
}
@media (max-width: 480px) {
    .owl-dots{
        display: none;
    }
    .actions{
        bottom: -40px;
    }
    .listOfProducts .owl-item{
        width: 360px !important;
    }
}
