.products {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: calc(100% - 4%);
    margin: 50px 2%;
}

.cartContainer {
    width: 23%;
    margin: 1%;
    margin-top: 30px;
}

@media (max-width: 800px) {
    .cartContainer {
        width: 30%;
        margin: 1.6667%;
    }
}

@media (max-width: 480px) {
    .cartContainer {
        width: 46%;
        margin: 2%;
    }
    .mobileVerProd{
        margin-top: 90px;
    }
    .sectionTitle{
        margin: 0;
        padding-bottom: 12.5px;
    }
}
