.container-header{
    width: 100%;
    height: 450px;
    background-color: #35363a;
    border-radius: 30px;
    display: flex;
    color: white;
    margin: 50px 0;
}
.right-part{
    width: 45%;
    margin: 5%;
    font-size: xx-large;
    word-break: break-all;
}
h1{
    margin-bottom: 10px;

}
.container-header p{
    font-size: medium;
    margin-bottom: 20px;
}
.container-header input{
    padding: 10px 40px;
    margin: 0 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.left-part {
    text-align: center; 
    color: red;
    width: 45%;
}

.photo-div {
    height: 100%; 
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.bt-buy {
    width: 30%; 
    transition: width ease 0.5s; 
}

.bt-buy:hover{
    width: 35%;
}
.bt-explore{
    width: 30%;
    background-color: black;
    color: white;
    transition: width ease 0.5s;
}
.bt-explore:hover{
    width: 35%;
}


